
body {
    background-color: #333;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
    /* insert here */
}

p {
    font-size: larger;
    color: white;
}

.topnav {
    background-color: #333;
    width: 1080px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}